* {
    /* Size of triangles on wheel */
    box-sizing: border-box;
    /* No space between the boxes */
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    /* Font obviously */
    font-family: Open Sans;
    /* Helps keep everything in the center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* Background stuff */
    /* background: rgb(60, 60, 242); */
    /* background: linear-gradient(90deg, rgba(60, 60, 242, 1) 0%, rgba(98, 245, 230, 1) 52%, rgba(60, 60, 242, 1) 100%); */
    background-image: url('dresden2.jpg');
    background-size: cover;
}

h1 {
    position: static;
}

.mainbox {
    /* Wheel position and static dimensions */
    position: relative;
    width: 485px;
    height: 485px;
}

.mainbox:after {
    /* Arrow: child element of box position and dimensions */
    position: absolute;
    width: 32px;
    height: 32px;
    /* Layer */
    z-index: 10;
    /* Making it an arrow by not having text and using background */
    content: '';
    background: url('arrow-left.png');
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box {
    /* Draw circle around the wheel */
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 2.5px dashed #fff069;
    overflow: hidden;
    transition: all ease 0;
    transform: rotate(100800deg);
    transition: all ease 2.5s;
    z-index: 10;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    /* Triangle #1 */
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #ededed;
    top: 120px;
    left: 0;
    transform: rotate(45deg);
    transform-origin: right;
}

.span2 {
    /* Triangle #2 */
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #f5f1df;
    top: 120px;
    left: 0;
    transform: rotate(90deg);
    transform-origin: right;
}

.span3 {
    /* Triangle #3 */
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #99ebff;
    top: 120px;
    left: 0;
    transform: rotate(135deg);
    transform-origin: right;
}

.span4 {
    /* Triangle #4 */
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    top: 120px;
    left: 0;
    transform: rotate(180deg);
    transform-origin: right;
}

.box2 {
    /* Second half */
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

span b {
    /* Text formatting on the wheel */
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

.spin {
    /* Positioning button */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    /* Other formatting */
    border-radius: 50%;
    border: 0.125px solid rgb(175, 175, 175);
    background-color: rgb(225, 225, 225);
    color: #fff;
    box-shadow: 0 2.5px 2.5px #bbbbbb;
    /* Font stuff */
    /* font-weight: bold; */
    /* font-size: 10px; */
    /* Cursor */
    cursor: pointer;
    z-index: 10;
}

.spin:active {
    /* Change size when clicked */
    width: 7.5px;
    height: 7.5px;
    /* font-size: 7.5px; */
}

.spinl {
    /* Positioning button */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-375%, -50%);
    width: 125px;
    height: 125px;
    /* Other formatting */
    border-radius: 50%;
    border: 0.125px solid rgb(175, 175, 175);
    background-color: rgb(225, 225, 225);
    color: #fff;
    box-shadow: 0 2.5px 2.5px #bbbbbb;
    /* Font stuff */
    /* font-weight: bold; */
    /* font-size: 10px; */
    /* Cursor */
    cursor: pointer;
    /* z-index: 10; */
    background-image: url('spin-left.png');
    background-position: 1px;
    background-size: 120px;
}

.spinl:active {
    /* Change size when clicked */
    width: 115px;
    height: 115px;
    /* font-size: 7.5px; */
}

.spinr {
    /* Positioning button */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(275%, -50%);
    width: 125px;
    height: 125px;
    /* Other formatting */
    border-radius: 50%;
    border: 0.125px solid rgb(175, 175, 175);
    background-color: rgb(225, 225, 225);
    color: #fff;
    box-shadow: 0 2.5px 2.5px #bbbbbb;
    /* Font stuff */
    /* font-weight: bold; */
    /* font-size: 10px; */
    /* Cursor */
    cursor: pointer;
    /* z-index: 10; */
    background-image: url('spin-right.png');
    background-position: 1px;
    background-size: 120px;
}

.spinr:active {
    /* Change size when clicked */
    width: 115px;
    height: 115px;
    /* font-size: 7.5px; */
}